.icon {
  height: 20px;
  justify-content: space-evenly;
  margin-top: 10px;
}

.image_categories {
  height: 50px;
  margin: 30px 0px;
}

.datepickers {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  border-color: #ebebeb;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  outline: #0e406a;
}

.error {
  color: #d32f2f;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px;
}

.detepickerLabel {
  font-size: 0.9rem;
}

.displayImage {
  height: 450px;
  width: 450px;
  border-radius: 15px;
}
.left,
.right {
  font-size: 40px;
  margin: 0px 25px;
  cursor: pointer;
}
.imageBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
}

.leftCounter,
.rightCounter {
  top: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}

.imagesmallbox {
  display: flex;
  flex-direction: column;
}

.counter {
  justify-content: center;
  margin-top: 20px;
  font-weight: 600;
}

.imageUploadBox {
  margin: 10px;
  padding: 25px 100px;
  border: 2px dashed #0e406a;
  border-radius: 10px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.innerBox {
  display: flex;
}
.uploadIcon {
  font-size: 50px;
}
.demoImages {
  height: 450px;
  width: 300px;
  border-radius: 15px;
  margin: 15px;
}

.storedImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
